<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tar Cloud</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1>Tar Cloud</h1>
    <p>
        Dieser Link ist gültig bis {{valid_until}} UTC.
    </p>
    <pre>&gt;&nbsp;&nbsp;&nbsp;<span data-copy-on-click="true">curl '{{protocol}}://{{hostname}}/{{id}}/' | tar -xkvf -</span></pre>
    <hr/>
    <h2>Index</h2>
    <ul class="filelist">
        {% for file in files %}
        {% if !file.is_dir%}
            <li><a class="file" href="pipe?offset={{file.offset}}&length={{file.size}}&name={{file.name}}">
            <span class="filepath">{{file.path}}</span> <span class="filetime">{{file.m_time}}</span> <span class="filesize">{{file.human_size}}</span>
            </a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <hr/>
    <a class="button" href="pipe?name=archive.tar">Download als TAR</a>
    <a class="button" href="zip">Download als ZIP</a>   
    <hr/>

    <small>
        <a href="/legal.html">Impressum &amp; Datenschutz</a>
    </small>
    <small>
        Proudly Hosted On A Pumpkin Using A 16k Modem.
    </small>
    <script src="/main.js"></script>
</body>
</html>